<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creative Game Screen</title>
</head>

<body>
    <h1>Catch Fruit Game Debug</h1>
    <div class="wrapper">
        <button type="button" onclick="game.start()">Start</button>
        <!-- <button type="button" onclick="game.pause()">Pause</button>
        <button type="button" onclick="game.continue()">Continue</button> -->
        <button type="button" onclick="game.stop()">Stop</button>
        <div class="container">
            <div id="game-screen">
                <div class="screen-container">

                </div>
            </div>
        </div>
    </div>

    <canvas id="gameScreen" width="600" height="600">
        Your browser does not support the canvas element.
    </canvas>
</body>

</html>